@media only screen and (max-width: 768px) {
  body {
    flex-direction: column;
  }

  aside {
    overflow: hidden;
    padding-top: 0;
    position: fixed;
    height: 90px;
    width: 100%;
    transition: all 0.5s ease;

    .container-sticky {
      position: relative;

      .btn-menu,
      .btn-menu.active {
        display: initial;
        position: absolute;
        top: 0;
        right: 0;
      }

      footer {
        margin-bottom: 1rem;
      }
    }
  }

  aside.active {
    height: 530px;
  }

  main {
    padding: 0;
    margin-top: calc(90px + 2rem);
    transition: all 0.5s ease;
  }

  main.active {
    margin-top: 410px;
    transition: all 0.5s ease;
  }

  .project,
  .todo {
    margin-right: 2rem;
    margin-left: 2rem;
  }

  .project > .todo {
    margin: 0;
  }

  .masonry-item.todo,
  .masonry-item.project {
    width: calc(100% - 4rem);
  }
}

@media only screen and (min-width: 600px) {
  .masonry-item.todo,
  .masonry-item.project {
    width: calc(100% - 3rem);
  }
}

@media only screen and (min-width: 1024px) {
  .masonry-item.todo,
  .masonry-item.project {
    width: 45%;
  }
}

@media only screen and (min-width: 1440px) {
  .masonry-item.todo,
  .masonry-item.project {
    width: 30%;
  }
}
