main {
  padding: 2rem;
  width: 100%;

  .project > .masonry-item.todo {
    width: 100%;
  }

  .project,
  .todo {
    background-color: rgb(255, 255, 255);
    border: $clr-secondary 2px solid;
    border-radius: 10px;
    padding: 1rem;
    transition: all 0.3s ease;
    height: min-content;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    &:hover {
      box-shadow: $shadow 4px 4px 9px 3px;
    }

    .project-heading {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2rem;

      h2 {
        font-family: $heading-font;
      }
    }

    .todo-dropdown-container {
      position: relative;

      .todo-btn-dropdown {
        background-color: transparent;
        border: none;
        svg {
          color: $clr-secondary;

          &:hover {
            color: $clr-hover-dark;
            cursor: pointer;
          }
        }
      }

      .todo-dropdown-content {
        display: none;
        background-color: white;
        border: $clr-secondary 2px solid;
        border-radius: 10px;
        color: $clr-text-dark;
        position: absolute;
        right: 36px;
        top: 10px;
        font-family: $normal-font;
        width: max-content;

        ul {
          list-style: none;
          padding: 0.5rem;

          button:hover {
            text-decoration: underline;
          }

          .todo-btn-edit,
          .btn-add-project-todo {
            color: $clr-text-dark;
          }

          .todo-btn-delete,
          .project-delete {
            color: $clr-warning;
          }
        }
      }

      &:hover .todo-dropdown-content {
        display: block;
      }
    }

    .project-todo,
    .todo-content-container {
      display: grid;
      grid-template-columns: 50px auto;
      grid-template-rows: auto 50px;
      grid-template-areas:
        'checkbox todo'
        'checkbox todo-info';
      border: $clr-secondary 1px solid;
      border-radius: 10px;
      font-family: $normal-font;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }

    .todo-checkbox-container {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      grid-area: checkbox;

      &:hover .checkmark {
        outline: 2px solid $clr-hover-dark;
      }

      & input:checked ~ .checkmark {
        background-color: $clr-primary;
      }

      & input:checked ~ .checkmark:after {
        display: block;
      }

      input {
        position: absolute;
        opacity: 0;
        height: 0;
        width: 0;

        &:checked .checkmark:after {
          display: block;
        }
      }

      .checkmark {
        border-radius: 5px;
        position: absolute;
        outline: 1px solid $clr-secondary;
        height: 35px;
        width: 35px;

        &:after {
          content: '';
          position: absolute;
          display: none;
          left: 12px;
          top: 0px;
          width: 13px;
          height: 30px;
          border: solid $clr-text-light;
          border-width: 0 5px 5px 0;
          border-radius: 0 0 5px 0;
          transform: rotate(40deg);
        }
      }
    }

    @keyframes line {
      from {
        text-decoration-color: transparent;
      }
      to {
        text-decoration-color: $clr-warning;
      }
    }

    .todo-text {
      border-left: solid 1px $clr-secondary;
      border-bottom: solid 1px $clr-secondary;
      padding: 1rem;
      max-height: 200px;
      overflow: auto;
      grid-area: todo;
    }

    .todo-done {
      text-decoration: line-through;
      text-decoration-thickness: 3px;
      text-decoration-color: $clr-warning;
      animation: line 1s linear;
    }

    .todo-info-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-left: solid 1px $clr-secondary;
      padding: 0 1rem;
      grid-area: todo-info;

      .todo-date {
        opacity: 60%;
      }
    }
  }

  .project > .todo {
    padding: 0;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    .todo-content-container {
      border: none;
    }
  }
}
