// CUSTOM COLORS
$clr-text-light: #eeeeee;
$clr-text-dark: #000000;
$clr-primary: #068fff;
$clr-secondary: #bbbbbb;
$clr-warning: #d30000;
$clr-hover-dark: #8e8e8e;
$shadow: rgba(0, 0, 0, 0.2);

// CUSTOM FONTS
$heading-font: 'Roboto', sans-serif;
$normal-font: 'AR One Sans', sans-serif;
