// CUSTOM COLOclr-aside-backgroundRS
$clr-text-light: #eeeeee;
$clr-text-dark: #000000;
$clr-primary: #068fff;
$clr-secondary: #bbbbbb;
$clr-hover-dark: #8e8e8e;
$shadow: rgba(0, 0, 0, 0.2);

// CUSTOM FONTS
$heading-font: 'Roboto', sans-serif;
$normal-font: 'AR One Sans', sans-serif;

body {
  display: flex;
  // height: 100vh;
}

aside {
  display: flex;
  flex-direction: column;
  background-color: $clr-primary;
  box-shadow: $shadow 8px 8px 12px 6px;
  color: $clr-text-light;
  padding: 2rem;
  // position: sticky;
  // top: 0;
  // height: 100%;
  min-width: fit-content;
  z-index: 999;

  font: {
    family: $heading-font;
    weight: 600;
  }
  // font-weight: 600;
  // width: clamp(200px, 30%, 400px);

  header {
    margin-bottom: 4rem;

    h1 {
      font-size: 2rem;
    }
  }

  // nav {
  //   position: sticky;
  //   top: 2rem;
  // }

  .container-sticky {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 1rem;
    bottom: 2rem;
    height: calc(100vh - 4rem);

    .btn-menu {
      background-color: transparent;
      border: none;
      display: none;
      // margin-bottom: 15px;
      padding: 0;
      height: 50px;
      transition: all 1s ease;
      width: 50px;

      &:hover {
        cursor: pointer;
      }

      span {
        display: block;
        background-color: $clr-text-light;
        border-radius: 10px;
        height: 6px;
        margin: 10px 0;
        transition: all 0.5s ease;
        width: 100%;
      }
    }

    .btn-menu.active {
      span:nth-child(1) {
        transform: rotate(45deg);
        position: absolute;
        bottom: 25%;
      }

      span:nth-child(2) {
        opacity: 0;
        transition: 0ms;
      }

      span:nth-child(3) {
        transform: rotate(-45deg);
        position: absolute;
        top: 25%;
      }
    }

    ul {
      list-style: none;
      padding: 0;

      li:first-child {
        margin-bottom: 50px;
        // font-size: 2rem;
      }

      li {
        margin-bottom: 15px;
        font-size: 1.5rem;
        letter-spacing: 1px;

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }

    footer {
      display: flex;
      align-items: center;
      font: {
        family: $normal-font;
        weight: 400;
      }

      p {
        margin-right: 10px;
      }

      svg {
        color: $clr-text-light;

        &:hover {
          scale: 1.1;
        }
      }
    }
  }
}

header,
nav {
  flex: 0;
}

footer {
  margin-top: auto;
}

main {
  // background-color: lightgreen;
  // flex: 1;
  padding: 2rem;
  // position: relative;

  // display: grid;
  // gap: 2rem;
  // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  // break-inside: avoid;
  // grid-template-rows: 1fr auto;

  // display: flex;
  // flex-direction: column;
  // flex-wrap: wrap;
  // gap: 2rem;

  columns: auto 300px;
  column-gap: 2rem;

  .btn-create-project {
    background-color: $clr-primary;
    border: none;
    border-radius: 50%;
    box-shadow: $shadow 0 0 10px 4px;
    cursor: pointer;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    height: 60px;
    width: 60px;
    transition: all 0.2s ease;

    &::before,
    &::after {
      content: '';
      position: absolute;
      background-color: $clr-text-light;
      border-radius: 10px;
      display: block;
      height: 60%;
      width: 6px;
      right: calc(50% - 3px);
      bottom: 20%;
    }

    &::after {
      rotate: 90deg;
    }

    &:hover {
      scale: 1.1;
      // transition: all 0.5s ease-in-out;
    }
  }

  .project,
  .todo {
    background-color: rgb(255, 255, 255);
    border: $clr-secondary 2px solid;
    border-radius: 10px;
    display: inline-block;
    // cursor: pointer;
    // color: $clr-text-light;
    // width: 300px;
    padding: 1rem;
    transition: all 0.3s ease;
    height: min-content;
    margin: 1rem 0;
    width: 100%;

    &:hover {
      box-shadow: $shadow 4px 4px 9px 3px;
    }

    h2 {
      font-family: $heading-font;
      margin-bottom: 2rem;
    }

    .project-todo,
    .todo-content-container {
      // display: flex;
      // flex-direction: column;
      display: grid;
      grid-template-columns: 50px auto;
      grid-template-rows: auto 50px;
      grid-template-areas:
        'checkbox todo'
        'checkbox todo-info';
      border: $clr-secondary 1px solid;
      border-radius: 10px;
      font-family: $normal-font;
      // padding: 1rem;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }

    .todo-checkbox-container {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      grid-area: checkbox;

      &:hover .checkmark {
        outline: 2px solid $clr-hover-dark;
      }

      & input:checked ~ .checkmark {
        background-color: $clr-primary;
      }

      & input:checked ~ .checkmark:after {
        display: block;
      }

      input {
        position: absolute;
        opacity: 0;
        height: 0;
        width: 0;

        &:checked .checkmark:after {
          display: block;
        }
      }

      .checkmark {
        position: absolute;
        outline: 1px solid $clr-secondary;
        height: 35px;
        width: 35px;

        &:after {
          content: '';
          position: absolute;
          display: none;
          left: 12px;
          top: 0px;
          width: 13px;
          height: 30px;
          border: solid $clr-text-light;
          border-width: 0 5px 5px 0;
          border-radius: 0 0 5px 0;
          transform: rotate(40deg);
        }
      }
    }

    .todo-text {
      border-left: solid 1px $clr-secondary;
      border-bottom: solid 1px $clr-secondary;
      padding: 1rem;
      max-height: 200px;
      overflow: auto;
      grid-area: todo;
    }

    .todo-info-container {
      display: flex;
      align-items: center;
      border-left: solid 1px $clr-secondary;
      padding: 0 1rem;
      grid-area: todo-info;

      .todo-date {
        opacity: 60%;
      }
    }

    .project-input-container {
      display: none;
    }

    .project-input-container.active {
      display: block;
      position: relative;

      button {
        position: absolute;
        width: 40px;
        height: 40px;
        // border: 2px solid $shadow;
        border: none;
        outline: none;
        border-radius: 10px 0 0 10px;
        padding: 0;
        cursor: pointer;
        left: 2px;
        top: 2px;

        &::before,
        &::after {
          content: '';
          border-radius: 10px;
          position: absolute;
          display: block;
          width: 4px;
          height: 80%;
          background-color: $clr-secondary;
          right: calc(50% - 2px);
          top: 10%;
        }

        &::after {
          rotate: 90deg;
        }

        &:hover::after,
        &:hover::before {
          background-color: $clr-hover-dark;
        }
      }

      input {
        border-radius: 10px;
        width: 100%;
        padding: 8px;
        padding-left: 50px;
        outline: none;
        border-color: $shadow;
        font-family: $normal-font;

        &:focus {
          border-color: $clr-secondary;
        }
      }
    }
  }
}

.visually-hidden {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  white-space: nowrap;
}

@media only screen and (max-width: 768px) {
  body {
    flex-direction: column;
  }

  aside {
    // height: 2rem;
    overflow: hidden;
    padding-top: 0;
    position: fixed;
    height: 90px;
    width: 100%;
    transition: all 0.5s ease;

    .container-sticky {
      position: relative;

      .btn-menu,
      .btn-menu.active {
        display: initial;
        position: absolute;
        top: 0;
        right: 0;
      }

      footer {
        margin-bottom: 1rem;
      }
    }
  }

  aside.active {
    height: 410px;
  }

  main {
    margin-top: 90px;
    transition: all 0.5s ease;
  }

  main.active {
    margin-top: 410px;
    transition: all 0.5s ease;
  }

  // nav,
  // footer {
  //   display: hidden;
  // }
}
