@import 'reset';
@import 'variables';
@import 'modal';
@import 'aside';
@import 'main';
@import 'buttons';
@import 'utilities';
@import 'breakpoints';

body {
  display: flex;
}

header,
nav {
  flex: 0;
}

footer {
  margin-top: auto;
}
